{% extends "admin/base.html" %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="/staticfiles/gren-map-visualization/styles.css"/>
{% get_current_language as LANGUAGE_CODE %}
<script nonce="{{ request.csp_nonce }}" src="/staticfiles/gren-map-visualization/gren-map.{{ LANGUAGE_CODE }}.js"></script>  <!-- nosemgrep : var-in-href -->
<!-- 36 px is the thickness of the top title bar, so it is used to calculate the needed height-->
<style nonce="{{ request.csp_nonce }}">
#header {
    padding: 0 !important;
}
#content{
    padding: 0 !important;
    max-height: calc(100vh - 36px);
    overflow-y: hidden;
}
body{
    overflow: hidden;
}
#map-container{
    max-height: calc(100vh - 36px);
    height: calc(100vh - 36px);
}
</style>
{% block branding %}
{% endblock %}
{% endblock %}
{% block content %}
<div id="map-container"></div>
<script nonce="{{ request.csp_nonce }}"> window.G.map({ selector: '#map-container' }); </script>

{% endblock %}
